/*File to set/edit colors for pages*/

/*globally scoped colors*/
:root{
    --text-color: #FFF;
    --main-box:#738678;

    /*Homepage Color Palette*/
    --black:#0F0F0F;
    --gray:#202020;
    --bright-green:#5DD62C;
    --dark-green:#337418;
    --white:#F8F8F8;
}