li.homePageListItem{
    list-style-type: none;
    display: inline-block;
}

div.page{
    background-image:url("/assets/stars.jpg");
    margin: none;
    height:100vh;
}

div.homePageListItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

a{
    all: unset;
    cursor: pointer;
}
a.listItemLink:hover{
    font-weight: bold;
}